<!doctype html>
<html lang="en">
<head>
	<script src='/socket.io/socket.io.js'></script>
</head>
 <body>

    <script type="module" src="game/IRobot.js"></script>
    <script type="module" src="game/IRobotManager.js"></script>
	<script type="text/javascript">
	</script>
</body>
</html>
