<head>
    
</head>

<div class="navbar-custom topnav-navbar topnav-navbar-dark">
    <div class="container-fluid">

        <!-- LOGO -->
        <a href="/" class="topnav-logo">
            <span class="topnav-logo-lg">
                <img src="./img/foot_LJ_logo.png" alt="" height="24">
            </span>
            <span class="topnav-logo-sm">
                <img src="./img/foot_LJ_logo.png" alt="" height="24">
            </span>
        </a>

        <!---->
        <ul class="list-unstyled topbar-right-menu float-right mb-0">

            <!-- 우측상단 이용자 정보 -->
            <li class="dropdown notification-list">
                <a class="nav-link dropdown-toggle nav-user arrow-none mr-0" data-toggle="dropdown" id="topbar-userdrop"
                   href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="account-user-avatar">
                        <img src="./assets/images/users/avatar-1.jpg" alt="user-image" class="rounded-circle">
                    </span>
                    <span>
                        <span class="account-user-name"><%=user.loginId%></span>
                        <span class="account-position">Admin</span>
                    </span>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated topbar-dropdown-menu profile-dropdown"
                     aria-labelledby="topbar-userdrop">

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item" id="ChangePersonalInfo">
                        <i class="mdi mdi-account-circle mr-1"></i>
                        <span>계정 정보 변경</span>
                    </a>

                    <!-- item-->
                    <a href="/account/logout" id="LogoutButton" class="dropdown-item notify-item">
                        <i class="mdi mdi-logout mr-1"></i>
                        <span>Logout</span>
                    </a>

                </div>
            </li>

        </ul>
        <a class="button-menu-mobile disable-btn">
            <div class="lines">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </a>

    </div>
</div>