<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">배송 관리</a></li>
                    <li class="breadcrumb-item active">배송 목록</li>
                </ol>
            </div>
            <h3 class="page-title">배송 현황</h3>
        </div>
    </div>
</div>
<!-- end page title -->
<div class="row">
    <div class="card col-12">
        <div class="card-body">
            <h4 class="card-title mb-0">지급 상세 내역</h4>
            <div class="form-row  align-items-right float-right">
                <div class="col-auto">
                    <label class="col-form-label">검색 날짜 범위</label>
                </div>
                <div class="col-auto">
                    <label class="sr-only">시작 날짜</label>
                    <input type="text" class="form-control mb-2" id="startDate" data-provide="datepicker"
                        placeholder="">
                </div>
                <div class="col-auto">
                    <label class="sr-only">마지막 날짜</label>
                    <input type="text" class="form-control mb-2" id="endDate" data-provide="datepicker" placeholder="">
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-primary mb-2" id="FindButton">검색</button>
                </div>
            </div>
            <div class="collapse pt-3 show">
                <table id="parentdataTable" class="table table-sm dt-responsive nowrap w-100">
                    <thead>
                        <tr>
                            <th>고유번호</th>
                            <th>대상 ID</th>
                            <th>대상 닉네임</th>
                            <th>실행 ID</th>
                            <th>실행 닉네임</th>
                            <th>금액</th>
                            <th>구분</th>
                            <th>처리시간</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="card col-12">
        <div class="card-body">
            <h4 class="card-title mb-0">차감 상세 내역</h4>
            <div class="form-row  align-items-right float-right">
                <div class="col-auto">
                    <label class="col-form-label">검색 날짜 범위</label>
                </div>
                <div class="col-auto">
                    <label class="sr-only">시작 날짜</label>
                    <input type="text" class="form-control mb-2" id="startDate2" data-provide="datepicker2"
                        placeholder="">
                </div>
                <div class="col-auto">
                    <label class="sr-only">마지막 날짜</label>
                    <input type="text" class="form-control mb-2" id="endDate2" data-provide="datepicker2"
                        placeholder="">
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-primary mb-2" id="FindButton2">검색</button>
                </div>
            </div>
            <div class="collapse pt-3 show">
                <table id="childrendataTable" class="table table-sm dt-responsive nowrap w-100">
                    <thead>
                        <tr>
                            <th>고유번호</th>
                            <th>대상 ID</th>
                            <th>대상 닉네임</th>
                            <th>실행 ID</th>
                            <th>실행 닉네임</th>
                            <th>금액</th>
                            <th>구분</th>
                            <th>처리시간</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var dataTableInstance;
    var dataTableInstance2;

    $(document).ready(function () {

        var counter = 0;
        var REFRESH_INTERVAL = 2000;
        var timerId;

        // $("#startDate").datepicker({
        //     format: 'yyyy-mm',
        //     language: 'kr',
        //     minViewMode: "months",
        //     startView: "months",
        //     autoclose : true
        // });
        // $("#endDate").datepicker({
        //     format: 'yyyy-mm',
        //     language: 'kr',
        //     minViewMode: "months",
        //     startView: "months",
        //     autoclose: true
        // });

        $("#startDate").datepicker({
            format: 'yyyy-mm-dd',
            language: 'kr'
        });
        $("#endDate").datepicker({
            format: 'yyyy-mm-dd',
            language: 'kr'
        });
        $("#FindButton").click(function (e) {
            e.preventDefault();
            dataTableInstance.ajax.reload();
        });
        $("#startDate2").datepicker({
            format: 'yyyy-mm-dd',
            language: 'kr'
        });
        $("#endDate2").datepicker({
            format: 'yyyy-mm-dd',
            language: 'kr'
        });
        $("#FindButton2").click(function (e) {
            e.preventDefault();
            dataTableInstance2.ajax.reload();
        });
        var leadingZeros = (n, digits) => {
            var zero = '';
            n = n.toString();

            if (n.length < digits) {
                for (var i = 0; i < digits - n.length; i++)
                    zero += '0';
            }
            return zero + n;
        }
        let getTimeStartStamp = ()=> {
            var now = new Date();

            var d = new Date(now.setDate(now.getDate()));
            var s =
                leadingZeros(d.getFullYear(), 4) + '-' +
                leadingZeros(d.getMonth() + 1, 2) + '-' +
                leadingZeros(d.getDate(), 2);

            return s;
        }
        let getTimeEndStamp = ()=> {
            var now = new Date();

            var d = new Date(now.setDate(now.getDate() - 1));
            var s =
                leadingZeros(d.getFullYear(), 4) + '-' +
                leadingZeros(d.getMonth() + 1, 2) + '-' +
                leadingZeros(d.getDate(), 2);

            return s;
        }
        let today = getTimeStartStamp();
        let yesterday = getTimeEndStamp();
        $('#startDate').val(yesterday);
        $('#endDate').val(today);
        $('#startDate2').val(yesterday);
        $('#endDate2').val(today);

        function refreshData() {
            dataTableInstance.ajax.reload();
            dataTableInstance2.ajax.reload();
        }
        //상위배송 리스트
        dataTableInstance = $('#parentdataTable').DataTable({
            "serverSide": true,
            "searching": false,
            //paging : false,
            //lengthChange : false,
		    //processing: true,
            "ajax": {
                //url: "/inout/parentorderlist",
                url:'/inout/request_recordgt',
                "type": "POST",
                "data": function (d) {
                    return $.extend({}, d, {
                        startDate: $('#startDate').val(),
                        endDate: $('#endDate').val(),
                        eType:['GIVE','PGIVE']
                        // 데이타 넘겨주기
                    });
                }
            },
            columns: [

                {
                    data: "id"
                },
                {
                    data: "strID"
                },
                {
                    data: "strNickname"
                },
                {
                    data: "strDepositor"
                },
                {
                    data: "strNickname"
                },
                {
                    data: "iAmount", render: function (d) {
                        let c = parseInt(d);
                        return c.toLocaleString();
                    }
                },
                {
                    data: "eType",
                    render: function (d, t, s, m) {
                        var text = "";
                        if (d == 'GIVE')
                            text = "머니지급";
                        else if(d == 'TAKE')
                            text = "머니차감";
                        else if(d == 'PGIVE')
                            text = "포인트지급";
                        else if(d == 'PTAKE')
                            text = "포인트차감";
                        else
                            text = "지급";
                        return text;
                    }
                },
                {
                    data: "createdAt", render: function (d) {
                        let date = moment(d).format('YYYY-MM-DD HH:mm:ss');
                        return date;
                    }
                },
            ],
            order: [[0, "desc"]],
            keys: true,
            "language": {
                "paginate": {
                    "previous": "<i class='mdi mdi-chevron-left'>",
                    "next": "<i class='mdi mdi-chevron-right'>"
                },
                "info": "현재 페이지 _PAGE_/_PAGES_, 총 _TOTAL_ 건",
                "lengthMenu": "한 페이지 길이 _MENU_",
                "emptyTable": "조건에 맞는 데이터가 없습니다",
                "infoEmpty": "표시할 데이터 없음"
            },
            "sort": false,
            "drawCallback": function () {
                $('.dataTables_paginate > .pagination').addClass('pagination-rounded');
            },
            createdRow: function (row, data) {
                $(row).attr("data-id", data.id);
            }
        });

        $("#RefreshButton").click(function (e) {
            e.preventDefault();
            refreshData();
        });
        //하위배송 리스트
        dataTableInstance2 = $('#childrendataTable').DataTable({
            "serverSide": true,
            "searching": false,
            //paging : false,
            //processing : true,
            //lengthChange : false,
            //pagingType: 'simple_numbers ',
            "ajax": {
                //url: "/inout/childrenorderlist",
                url: "/inout/request_recordgt",
                "type": "POST",
                "data": function (d) {
                    return $.extend({}, d, {
                        startDate: $('#startDate2').val(),
                        endDate: $('#endDate2').val(),
                        eType:['TAKE','PTAKE']
                        // 데이타 넘겨주기
                    });
                }
            },
            columns: [

                {
                    data: "id"
                },
                {
                    data: "strID"
                },
                {
                    data: "strNickname"
                },
                {
                    data: "strDepositor"
                },
                {
                    data: "strAccount"
                },
                {
                    data: "iAmount", render: function (d) {
                        let c = parseInt(d);
                        return c.toLocaleString();
                    }
                },
                {
                    data: "eType",
                    render: function (d, t, s, m) {
                        var text = "";
                        if (d == 'GIVE')
                            text = "머니지급";
                        else if(d == 'TAKE')
                            text = "머니차감";
                        else if(d == 'PGIVE')
                            text = "포인트지급";
                        else if(d == 'PTAKE')
                            text = "포인트차감";
                        else
                            text = "지급";
                        return text;
                    }
                },
                {
                    data: "createdAt", render: function (d) {
                        let date = moment(d).format('YYYY-MM-DD HH:mm:ss');
                        return date;
                    }
                },
            ],
            order: [[0, "desc"]],
            keys: true,
            "language": {
                "paginate": {
                    "previous": "<i class='mdi mdi-chevron-left'>",
                    "next": "<i class='mdi mdi-chevron-right'>"
                },
                "info": "현재 페이지 _PAGE_/_PAGES_, 총 _TOTAL_ 건",
                "lengthMenu": "한 페이지 길이 _MENU_",
                "emptyTable": "조건에 맞는 데이터가 없습니다",
                "infoEmpty": "표시할 데이터 없음"
            },
            "sort": false,
            "drawCallback": function () {
                $('.dataTables_paginate > .pagination').addClass('pagination-rounded');
            },
            createdRow: function (row, data) {
                $(row).attr("data-id", data.id);
            }
        });

        $("#RefreshButton").click(function (e) {
            e.preventDefault();
            refreshData();
        });
    })
</script>