
<head>
    
</head>


<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">에이전트 관리</a></li>
                    <li class="breadcrumb-item active">에이전트 포인트 내역</li>
                </ol>
            </div>
            <h4 class="page-title">에이전트 포인트 내역</h4>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <!-- <div class="col-sm-5">
                        <a href="javascript:BuildAgent(1);" class="btn btn-danger mb-2"><i class="mdi mdi-plus-circle mr-2"></i> 지사 등록</a>
                        <a href="javascript:BuildAgent(2);" class="btn btn-danger mb-2"><i class="mdi mdi-plus-circle mr-2"></i> 부지사 등록</a>
                        <a href="javascript:BuildAgent(3);" class="btn btn-danger mb-2"><i class="mdi mdi-plus-circle mr-2"></i> 총판 등록</a>
                        <a href="javascript:BuildAgent(4);" class="btn btn-danger mb-2"><i class="mdi mdi-plus-circle mr-2"></i> 매장 등록</a>
                    </div>

                    <br/> -->
                    <!-- <div class="col-sm-3">
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-secondary active">
                                <input type="radio" name="UserTypeFilter" value="" checked />전체
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" name="UserTypeFilter" value="NORMAL" />정상
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" name="UserTypeFilter" value="BLOCK" />정지
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" name="UserTypeFilter" value="QUIT" />탈퇴
                            </label>
                        </div>
                    </div> -->
                    <div class="col-sm-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" for="searchText">
                                    ID/이름
                                </span>
                            </div>
                            <input type="text" id="searchText" name="searchText" maxlength="20" class="form-control" />
                            <div class="input-group-append">
                                <button class="form-control" id="SearchTextFindButton">검색</button>
                            </div>
                        </div>
                    </div>

                    <form>
                        <div class="form-row  align-items-center">
                            <div class="col-auto">
                                <label class="col-form-label">검색일자</label>
                            </div>
                            <div class="col-auto">
                                <label class="sr-only">시작</label>
                                <input type="text" class="form-control mb-2" id="dateStart" data-provide="datepicker" placeholder="시작일">
                            </div>
                            <div class="col-auto">
                                <label class="sr-only">종료</label>
                                <input type="text" class="form-control mb-2" id="dateEnd" data-provide="datepicker" placeholder="종료일">
                            </div>
                            <div class="col-auto">
                                <button type="button" class="btn btn-primary mb-2" id="FindButton">검색</button>
                            </div>
                        </div>
                    </form>
                    <div class="col-sm-7">
                        <div class="text-sm-right">
                            <!--
                            <button type="button" class="btn btn-success mb-2 mr-1"><i class="mdi mdi-settings"></i></button>
                            <button type="button" class="btn btn-light mb-2">Export</button>
                                -->
                        </div>
                    </div><!-- end col-->
                </div>

                <div class="table-responsive">
                    <table id="user-datatable" class="table table-sm table-hover dt-responsive nowrap w-100">
                        <thead>
                            <tr>
                                <th>색인</th>
                                <th>아이디</th>
                                <th>닉네임</th>
                                <th>거래 구분</th>
                                <th>거래전 포인트</th>
                                <th>거래 포인트</th>
                                <th>거래후 포인트</th>
                                <th>거래 일시</th>
                                <th>메모</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col -->

</div>
<!-- end row -->
<script type="text/javascript" src="js/time.js"></script>
<script type="text/javascript">


    var dataTableInstance;

    $(document).ready(function(){

        $("#dateStart").datepicker({
            format: 'yyyy-mm-dd',
            language : 'kr'
        });
        $("#dateEnd").datepicker({
            format: 'yyyy-mm-dd',
            language: 'kr'
        });

        $("#dateStart").val(getTimeStamp(0));
        $("#dateEnd").val(getTimeStamp(0));

        

        // // 테이블의 login id 컬럼 클릭 처리
        // $(document).on("click", ".UserIdPopup", function (e) {
        //     e.preventDefault();

        //     $.ajax({
        //         //url: "@Url.Action("QueryUser")",
        //         url:"/agent/request_agentdetail",
        //         type:"POST",
        //         data: {
        //             strID : $(this).attr("data-id")
        //         },
        //         dataType: "json",
        //         success: function (obj) {
        //             if (obj.result == "OK") {

        //                 console.log(obj.data);

        //                 const data = obj.data;

        //                 $('#iClass').val(data.iClass);
        //                 $('#strParentID').val(data.strParentID);
        //                 $('#strID').val(data.strID);
        //                 $('#strPassword').val(data.strPassword);
        //                 $('#strNickname').val(data.strNickname);
        //                 $('#fHoldemR').val(data.fHoldemR);
        //                 $('#fSettle').val(data.fSettle);
        //                 $('#iCash').val(data.iCash);
        //                 $('#iPoint').val(data.iPoint);

        //                 // $("#uid").val(obj.data.id);
        //                 // $("#strID").val(obj.data.strID);
        //                 // $("#strPassword").val(obj.data.strPassword);
        //                 // $("#strName").val(obj.data.strName);
        //                 // $("#strNickname").val(obj.data.strNickname);
        //                 // $("#strEMail").val(obj.data.iClass);
        //                 // $("#eState").val(obj.data.eStatus);
        //                 // $("#strMobileNo").val(obj.data.strMobileNo);
        //                 // $("#iPoint").val(obj.data.iPoint);
        //                 // $("#iCash").val(obj.data.iCash);
                        
        //                 $("#BuildAgentDialog").modal("show");
        //             } else {
        //                 alert(obj.reason);
        //             }
        //         }, error: function () {
        //             alert("조회 중 오류 발생");
        //         }
        //     });
        // });

        // // 결제 내역 팝업
        // $("#user-datatable").on("click", ".PayHistoryButton", function (e) {
        //     e.preventDefault();

        //     var loginId = $(this).parent().parent().attr("data-loginId");

        //     //window.open("@Url.Action("PaymentHistory")?loginId=" + loginId, "_blank", "width = 700, height = 500");

        //     window.open("/account/history_cash/" + loginId, "_blank", "width = 700, height = 400");
        // });

        // // 포인트 내역 팝업
        // $("#user-datatable").on("click", ".PointHistoryButton", function (e) {
        //     e.preventDefault();

        //     var loginId = $(this).parent().parent().attr("data-loginId");

        //     window.open("/account/history_point/" + loginId, "_blank", "width = 700, height = 400");
        // });
        // // EXP 내역 팝업
        // $("#user-datatable").on("click", ".ExpHistoryButton", function (e) {
        //     e.preventDefault();

        //     var loginId = $(this).parent().parent().attr("data-loginId");
        //     //window.open("@Url.Action("ExpHistory")?loginId=" + loginId, "_blank", "width = 700, height = 400");
            
        //     window.open("/account/history_exp/" + loginId, "_blank", "width = 700, height = 400");
        // });
        // // 아이템 내역 팝업
        // $("#user-datatable").on("click", ".ItemHistoryButton", function (e) {
        //     e.preventDefault();

        //     var loginId = $(this).parent().parent().attr("data-loginId");
        //     //window.open("@Url.Action("ItemHistory")?loginId=" + loginId, "_blank", "width = 700, height = 400");

        //     console.log(loginId);
            
        // });
        // // 게시글 내역 팝업
        // $("#user-datatable").on("click", ".ArticlesButton", function (e) {
        //     e.preventDefault();

        //     var loginId = $(this).parent().parent().attr("data-loginId");

        //     console.log(loginId);
        //     //location.href="@Url.Action("Index", "Bulletin")?author=" + loginId;
            
        // });

        // // 탈퇴 버튼 클릭
        // $("#user-datatable").on("click", ".QuitButton", function (e) {
        //     e.preventDefault();

        //     var id = $(this).parent().parent().attr("data-id");
        //     var strID = $(this).parent().parent().attr("data-loginId");

        //     console.log(strID);
        //     // var id = $(this).parent().attr("data-id");
        //     // var loginId = $(this).parent().attr("data-loginId");

        //     // console.log($(this).parent().parent());

        //     // //alert(id);

        //     //if (!confirm(loginId + "계정을 탈퇴 처리 하시겠습니까?"))
        //     if (!confirm(strID + "계정을 탈퇴 처리 하시겠습니까?"))
        //         return;

        //     $.ajax({
        //         //url: "@Url.Action("QuitUser")",
        //         type:"POST",
        //         url:"/agent/request_userleave",
        //         data: {
        //             "id": id,
        //             "strID": strID
        //         },
        //         dataType: "json",
        //         type: "POST",
        //         success: function (obj) {
        //             if (obj.result == "OK") {
        //                 alert("탈퇴 처리되었습니다");
        //                 dataTableInstance.ajax.reload();
        //                 return;
        //             } else {
        //                 alert(obj.reason);
        //             }
        //         },
        //         error: function () {
        //             alert("탈퇴 처리 요청 중 오류");
        //         }
        //     });
            
        // });

        // // 사용자 구분
        // $("input[name='UserTypeFilter']").change(function () {
        //     dataTableInstance.ajax.reload();
        // });

        // $("#SearchTextFindButton").click(function (e) {
        //     e.preventDefault();

        //     dataTableInstance.ajax.reload();
        // });

        // // 정보 수정 완료
        // $("#UserFormSubmitButton").click(function (e) {
        //     e.preventDefault();

        //     $("#UserForm").ajaxSubmit({
        //         //url:"/account/user",
        //         dataType: "json",
        //         type : "POST",
        //         beforeSubmit: function () {

        //         },
        //         success: function (obj) {
        //             if (obj.result == "OK") {
        //                 $("#UserEditDialog").modal("hide");
        //                 dataTableInstance.ajax.reload();
        //                 return;
        //             }
        //             alert(obj.reason);
        //         },
        //         error: function () {
        //             alert("서버 오류");
        //         }
        //     });
        // });

        // dataTableInstance = $('#user-datatable').DataTable({
        //     "serverSide": true,
        //     "searching": false,
        //     "ajax": {
        //         //url: "@Url.Action("UserList")",
        //         url:"/agent/request_agentlist",
        //         "type": "POST",
        //         "data": function (d) {
        //             return $.extend({}, d, {
        //                 "userTypeFilter": $("input[name='UserTypeFilter']:checked").val(),
        //                 "search" : $("#searchText").val(),
        //                 //"iClass" : 1,
        //                 dateStart:$('#dateStart').val(),
        //                 dateEnd:$('#dateEnd').val()
        //             });
        //         }
        //     },
        //     responsive : true,
        //     order: [[ 1, 'asc' ]],
        //     columns: [

        //         {
        //             data: "id",
        //             render: function (d, t) {
        //                 return d;// return "<input type='checkbox' name='chk' id='chk" + d + "' value='" + d + "' /><label for='chk" + d + "'>" + d + "</label>";
        //             }
        //         },
        //         {
        //             data: "iClass",
        //             render: function (d, t, s, m) {
        //                 var text = "";
        //                 if (d == 0)
        //                     text = "본사";
        //                 else if (d == 1)
        //                     text = "지사";
        //                 else if (d == 2)
        //                     text = "부지사";
        //                 else if (d == 3)
        //                     text = "총판";
        //                 else if (d == 4)
        //                     text = "매장";
        //                 return text;
        //             }
        //         },
        //         {
        //             data: "strID",
        //             render: function (d) {
        //                 return "<a href='#' class='UserIdPopup' data-id='" + d + "'>" + d + "</a>";
        //             }
        //         },
        //         { 
        //             data: "fHoldemR" 
        //         },
        //         { 
        //             data: "iMyMoney", render: function (d) {
        //                 let c = parseInt(d);
        //                 return c.toLocaleString();
        //             }
        //         },
        //         { 
        //             data: "iMyPoint", render: function (d) {
        //                 let c = parseInt(d);
        //                 return c.toLocaleString();
        //             }
        //         },
        //         { 
        //             data: "iInput", render: function (d) {
        //                 let c = parseInt(d);
        //                 return c.toLocaleString();
        //             }
        //         },
        //         { 
        //             data: "iOutput", render: function (d) {
        //                 let c = parseInt(d);
        //                 return c.toLocaleString();
        //             }
        //         },
        //         { 
        //             data: "iTotalMoney", render: function (d) {
        //                 let c = parseInt(d);
        //                 return c.toLocaleString();
        //             }
        //         },
        //         { 
        //             data: "iTotalPoint", render: function (d) {
        //                 let c = parseInt(d);
        //                 return c.toLocaleString();
        //             } 
        //         },
        //         // {
        //         //     data: "strNickname", render: function (d, t, row) {
        //         //         var label = d;
        //         //         if (row.userType == "TEST")
        //         //             label = label + '<i class="far fa-grimace"></i>';
        //         //         else if (row.userType == "ADMIN")
        //         //             label += '<i class="fas fa-users-cog"></i>';
        //         //         return label;
        //         //     }
        //         // },
        //         // {
        //         //     data: "eStatus",
        //         //     render: function (d, t, s, m) {
        //         //         var text = "";
        //         //         if (d == "BLOCK")
        //         //             text = "잠김";
        //         //         else if (d == "QUIT")
        //         //             text = "탈퇴";
        //         //         else
        //         //             text = "정상";
        //         //         return text;
        //         //     }
        //         // },
        //         // {
        //         //     data:"iPoint",
        //         //     // data: "iPoint", render: function (d) {
        //         //     //     return "<a href='#' class='PointHistoryButton' title='포인트'>" + d + "</a>";
        //         //     // }
        //         // },
        //         // { data: "iCash" },
        //         // { data: "strMobileNo" },
        //         { 
        //             data: "updatedAt", render: function (d) {
        //                 let date = moment(d).format('YYYY-MM-DD HH:mm:ss');
        //                 return date;
        //             }
        //         },
        //         { 
        //             data: "createdAt", render: function (d) {
        //                 let date = moment(d).format('YYYY-MM-DD HH:mm:ss');
        //                 return date;
        //             }
        //         },
        //         {
        //             data: null,
        //             //data:"quit",
        //             render: function (d, t) {
        //                 var html = "";
        //                 if(d.eStatus != "QUIT")
        //                 //if(d.userStatus != "QUIT")
        //                     html += "<a href='#' class='QuitButton' title='탈퇴'>X</a>";
        //                 return html;
        //             }
        //         }
        //     ],
        //     keys: true,
        //     "language": {
        //         "paginate": {
        //             "previous": "<i class='mdi mdi-chevron-left'>",
        //             "next": "<i class='mdi mdi-chevron-right'>"
        //         },
        //         "info": "현재 페이지 _PAGE_/_PAGES_, 총 _TOTAL_ 건",
        //         "lengthMenu": "한 페이지 길이 _MENU_",
        //         "emptyTable": "조건에 맞는 데이터가 없습니다",
        //         "infoEmpty" : "표시할 데이터 없음"
        //     },
        //     "sort": false,
        //     "drawCallback": function () {
        //         $('.dataTables_paginate > .pagination').addClass('pagination-rounded');
        //     },
        //     createdRow: function (row, data) {
        //         $(row).attr("data-id", data.id);
        //         $(row).attr("data-loginId", data.strID);
        //         // if (data.eStatus == "QUIT")
        //         //     $(row).addClass("table-dark");

        //         if ( data.iClass == 1 )
        //         {
        //             $(row).attr('style', 'background-color:#f0f0f0;')
        //         }
        //         else if ( data.iClass == 2 )
        //         {
        //             $(row).attr('style', 'background-color:#fcfcac;')                    
        //         }
        //         else if ( data.iClass == 3 )
        //         {
        //             $(row).attr('style', 'background-color:#f9d9f9;')                    
        //         }
        //         else if ( data.iClass == 4 )
        //         {
        //             $(row).attr('style', 'background-color:#a0f0f0;')                    
        //         }
        //     }
        // });
    });

</script>
