
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">매출관리</a></li>
                    <li class="breadcrumb-item active">월별</li>
                </ol>
            </div>
            <h4 class="page-title">월별 매출</h4>
        </div>
    </div>
</div>
<!-- end page title -->
<div class="row">
    <div class="card">
        <div class="card-body">
            <form>
                <div class="form-row  align-items-center">
                    <div class="col-auto">
                        <label class="col-form-label">검색 날짜 범위</label>
                    </div>
                    <div class="col-auto">
                        <label class="sr-only">시작 날짜</label>
                        <input type="text" class="form-control mb-2" id="startDate" data-provide="datepicker" placeholder="시작 월" value="@DateTime.Now.ToString("yyyy-MM")" >
                    </div>
                    <div class="col-auto">
                        <label class="sr-only">마지막 날짜</label>
                        <input type="text" class="form-control mb-2" id="endDate" data-provide="datepicker" placeholder="마지막 월">
                    </div>
                    <div class="col-auto">
                        <button type="button" class="btn btn-primary mb-2" id="FindButton">검색</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="card col-12">
        <div class="card-body">
            <div class="table-responsive">
                <table id="dataTable" class="table table-sm dt-responsive nowrap w-100">
                    <thead>
                        <tr>
                            <th rowspan="2">월</th>
                            <th colspan="4">충전금액</th>
                            <th colspan="4">충전건수</th>
                        </tr>
                        <tr>
                            <th>총 금액</th>
                            <th>카드 결제</th>
                            <th>계좌 이체</th>
                            <th>핸드폰 결제</th>
                            <th>총 건수</th>
                            <th>카드 결제</th>
                            <th>계좌 이체</th>
                            <th>핸드폰 결제</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var dataTableInstance;
    $(document).ready(function () {

        $("#startDate").datepicker({
            format: 'yyyy-mm',
            language: 'kr',
            minViewMode: "months",
            startView: "months",
            autoclose : true
        });
        $("#endDate").datepicker({
            format: 'yyyy-mm',
            language: 'kr',
            minViewMode: "months",
            startView: "months",
            autoclose: true
        });

        $("#FindButton").click(function (e) {
            e.preventDefault();

            dataTableInstance.ajax.reload();
        });

        // 리스트
        dataTableInstance = $('#dataTable').DataTable({
            "serverSide": true,
            "searching": false,
            paging : false,
            lengthChange : false,
            "ajax": {
                url: "@Url.Action("MonthReport")",
                "type": "POST",
                "data": function (d) {
                    return $.extend({}, d, {
                        "from": $("#startDate").val(),
                        "to": $("#endDate").val()
                    });
                }
            },
            order: [[1, 'asc']],
            columns: [

                { data: "createdDate" },

                {
                    data: "totalAmount",
                    render: $.fn.dataTable.render.number(',', '.', 0, '') },
                {
                    data: "cardAmount",
                    render: $.fn.dataTable.render.number(',', '.', 0, '') },
                {
                    data: "vaccAmount",
                    render: $.fn.dataTable.render.number(',', '.', 0, '') },
                {
                    data: "hpAmount",
                    render: $.fn.dataTable.render.number(',', '.', 0, '') },

                {
                    data: "totalCount",
                    render: $.fn.dataTable.render.number(',', '.', 0, '') },
                {
                    data: "cardCount",
                    render: $.fn.dataTable.render.number(',', '.', 0, '') },
                {
                    data: "vaccCount",
                    render: $.fn.dataTable.render.number(',', '.', 0, '') },
                {
                    data: "hpCount",
                    render: $.fn.dataTable.render.number(',', '.', 0, '') }
            ],
            keys: true,
            "language": {
                "paginate": {
                    "previous": "<i class='mdi mdi-chevron-left'>",
                    "next": "<i class='mdi mdi-chevron-right'>"
                },
                "info": "현재 페이지 _PAGE_/_PAGES_, 총 _TOTAL_ 건",
                "lengthMenu" : "한 페이지 길이 _MENU_",
                "emptyTable": "조건에 맞는 데이터가 없습니다",
                "infoEmpty" : "표시할 데이터 없음"
            },
            "sort": false,
            "drawCallback": function () {
                $('.dataTables_paginate > .pagination').addClass('pagination-rounded');
            },
            createdRow: function (row, data) {
            }
        });

    });
</script>