
<head>
    
</head>


<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">게임관리</a></li>
                    <li class="breadcrumb-item active">잭팟 설정</li>
                </ol>
            </div>
            <h4 class="page-title">잭팟 설정</h4>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                   <div class="table-responsive">
                    <table id="user-datatable" class="table table-sm table-hover dt-responsive nowrap w-100">
                        <thead>
                            <tr>
                                <th>색인</th>
                                <th>게임</th>
                                <th>로티플</th>
                                <th>스티플</th>
                                <th>포카드</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col -->

    <div class="modal fade task-modal-content" id="BuildAgentDialog" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="NewTaskModalLabel">수정</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                        <input type="hidden" name="id" id="uid" value="" />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="birthdatepicker">로얄 스트레이트 플러쉬</label>
                                    <input type="text" class="form-control date" id="iRSFAmount" name="iRSFAmount" placeholder="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="birthdatepicker">스트레이트 플러쉬</label>
                                    <input type="text" class="form-control date" id="iSFAmount" name="iSFAmount" placeholder="">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="birthdatepicker">포카드</label>
                                    <input type="text" class="form-control date" id="iFCAmount" name="iFCAmount" placeholder="">
                                </div>
                            </div>
                        </div>

                        <div class="text-right">
                            <button type="button" class="btn btn-primary" onclick="RequestRegister();">저장</button>
                            <button type="button" class="btn btn-light" data-dismiss="modal">취소</button>
                        </div>
                    <!-- </form> -->
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div>
<!-- end row -->
<script type="text/javascript" src="js/time.js"></script>
<script type="text/javascript">

    var dataTableInstance;

    $(document).ready(function(){

        // 테이블의 login id 컬럼 클릭 처리
        $(document).on("click", ".UserIdPopup", function (e) {
            e.preventDefault();

            console.log();

            const value = $(this).attr("data-id");

            let object = {id:value};

            $.ajax({
                url:"/game/request_jackpotdetail",
                type:"POST",
                dataType: "json",
                data:object,
                success: function (obj) {
                    if (obj.result == "OK") {

                        console.log(obj.data);

                        const data = obj.data;

                        $('#uid').val(data.id);
                        $('#iRSFAmount').val(data.iRSFAmount);
                        $('#iSFAmount').val(data.iSFAmount);
                        $('#iFCAmount').val(data.iFCAmount);
                        
                        $("#BuildAgentDialog").modal("show");
                    } else {
                        alert(obj.reason);
                    }
                }, error: function () {
                    alert("조회 중 오류 발생");
                }
            });
        });

        // 정보 수정 완료
        $("#UserFormSubmitButton").click(function (e) {
            e.preventDefault();

            $("#UserForm").ajaxSubmit({
                //url:"/account/user",
                dataType: "json",
                type : "POST",
                beforeSubmit: function () {

                },
                success: function (obj) {
                    if (obj.result == "OK") {
                        $("#UserEditDialog").modal("hide");
                        dataTableInstance.ajax.reload();
                        return;
                    }
                    alert(obj.reason);
                },
                error: function () {
                    alert("서버 오류");
                }
            });
        });

        dataTableInstance = $('#user-datatable').DataTable({
            "serverSide": true,
            "searching": false,
            "ajax": {
                //url: "@Url.Action("UserList")",
                url:"/game/request_jackpot",
                "type": "POST",
            },
            responsive : true,
            order: [[ 1, 'asc' ]],
            columns: [

                {
                    data: "id",
                    // render: function (d, t) {
                    //     return d;// return "<input type='checkbox' name='chk' id='chk" + d + "' value='" + d + "' /><label for='chk" + d + "'>" + d + "</label>";
                    // }
                    render: function (d) {
                        return "<a href='#' class='UserIdPopup' data-id='" + d + "'>" + d + "</a>";
                    }
                },
                {
                    data: "strGame",
                    
                },
                {
                    data: "iRSFAmount",
                    
                },
                {
                    data: "iSFAmount",
                   
                },
                {
                    data: "iFCAmount",
                    
                },
              
            ],
            keys: true,
            "language": {
                "paginate": {
                    "previous": "<i class='mdi mdi-chevron-left'>",
                    "next": "<i class='mdi mdi-chevron-right'>"
                },
                "info": "현재 페이지 _PAGE_/_PAGES_, 총 _TOTAL_ 건",
                "lengthMenu": "한 페이지 길이 _MENU_",
                "emptyTable": "조건에 맞는 데이터가 없습니다",
                "infoEmpty" : "표시할 데이터 없음"
            },
            "sort": false,
            "drawCallback": function () {
                $('.dataTables_paginate > .pagination').addClass('pagination-rounded');
            },
            createdRow: function (row, data) {
                $(row).attr("data-id", data.id);
            }
        });
    });

    let RequestRegister = () => {
        
        const id = $('#uid').val();
        const iRSFAmount = $('#iRSFAmount').val();
        const iSFAmount = $('#iSFAmount').val();
        const iFCAmount = $('#iFCAmount').val();

        let object = ({id:id, iRSFAmount:iRSFAmount, iSFAmount:iSFAmount, iFCAmount:iFCAmount});

        $.ajax({
            url:"/game/request_modifyjackpot",
            type:"POST",
            data: object,
            dataType: "json",
            success: function (obj) {
                console.log(obj);

                if ( obj.result == 'OK' )
                {
                    alert('완료 되었습니다.');
                    location.reload();
                }
                else
                {
                }
            }, 
            error: function () {
                alert("조회 중 오류 발생");
            }
        });
    }

</script>
